h1{
    font-size: 5em;
    font-family: 'Times New Roman', Times, serif;
    color: purple;
}
div{
    text-align: center;
}
p{
    font-family: 'Times New Roman', Times, serif;
    color: purple;
    font-size: 3em;
}