th, tr{
    text-align: center;
}


th{
    background-color: purple;
    color: white;
}

td{
    color: purple;
}
button{
    background-color: purple;    
}
h1{
    color: purple;
}
div{
    text-align: center;
}
search-employee{
    text-align: left;
}

