<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <form>
            <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputEmail3" #name>
            </div>
            </div>

            <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Ratings</legend>
                <div class="col-sm-10">

                <div class="form-check">
                    <input class="form-check-input" type="radio" #rating1 name="rating" id="rating1" value = "1">
                    <label class="form-check-label" for="rating1">
                        1
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" #rating2 name="rating" id="rating2" value = "2">
                    <label class="form-check-label" for="rating2">
                        2
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" #rating3 name="rating" id="rating3" value = "3">
                    <label class="form-check-label" for="rating3">
                        3
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" #rating4 name="rating" id="rating4" value = "4">
                    <label class="form-check-label" for="rating4">
                        4
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" #rating5 name="rating" id="rating5" value = "5">
                    <label class="form-check-label" for="rating5">
                        5
                    </label>
                </div>
                </div>
            </div>
            </fieldset>

            <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary" (click) = "addproduct(name.value, rating1.checked ? rating1.value : rating2.checked ? rating2.value : rating3.checked ? rating3.value : rating4.checked ? rating4.value : rating5.checked ? rating5.value : null)">ADD</button>
            </div>
            </div>
        </form>
    </div>
</div>

  <table class="table">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tr *ngFor = "let tempProduct of products; let i = index">
        <td>{{i + 1}}</td>
        <td>{{tempProduct.name}}</td>
        <td>{{tempProduct.rating}}</td>
    </tr>
</table>