<h1>About</h1>
        <p>Wikipedia was founded as an offshoot of Nupedia, a now-abandoned project to produce a free encyclopedia, begun by the online media company Bomis. Nupedia had an elaborate system of peer review and required highly qualified contributors, but the writing of articles was slow. During 2000, Jimmy Wales (founder of Nupedia and co-founder of Bomis), and Larry Sanger, whom Wales had employed to work on the encyclopedia project, discussed ways of supplementing Nupedia with a more open, complementary project. Multiple sources suggested that a wiki might allow members of the public to contribute material, and Nupedia's first wiki went online on January 10, 2001.

            There was considerable resistance on the part of Nupedia's editors and reviewers to the idea of associating Nupedia with a website in the wiki format, so the new project was given the name "Wikipedia" and launched on its own domain, wikipedia.com, on January 15 (now called "Wikipedia Day" by some users). The bandwidth and server (in San Diego) were donated by Wales. Other current and past Bomis employees who have worked on the project include Tim Shell, one of the cofounders of Bomis and its current CEO, and programmer Jason Richey.
            
            In May 2001, a large number of non-English Wikipedias were launched—in Catalan, Chinese, Dutch, Esperanto, French, German, Hebrew, Italian, Japanese, Portuguese, Russian, Spanish, and Swedish. These were soon joined by Arabic and Hungarian. In September,[2] Polish was added, and further commitment to the multilingual provision of Wikipedia was made. At the end of the year, Afrikaans, Norwegian, and Serbo-Croatian versions were announced.
            
            The domain was eventually changed to the present wikipedia.org when the not-for-profit Wikimedia Foundation was launched, in 2003, as its new parent organization, with the ".org" top-level domain denoting its non-commercial nature. Today, there are Wikipedias in more than 300 languages.
            
            Wikipedia contributors
            Main pages: Wikipedia:Who writes Wikipedia? and Wikipedia:Wikipedians
            Further information: Wikipedia:Administration § Editors
            File:The Impact Of Wikipedia.webm
            Wikipedia contributors
            Anyone with Web access can edit Wikipedia, and this openness encourages inclusion of a tremendous amount of content. About 150,000 editors—from expert scholars to casual readers—regularly edit Wikipedia, and these experienced editors often help to create a consistent style throughout the encyclopedia, following our Manual of Style.
            
            Several mechanisms are in place to help Wikipedia members carry out the important work of crafting a high-quality resource while maintaining civility. Editors are able to watch pages and technically skilled persons can write editing programs to keep track of or rectify bad edits. Where there are disagreements on how to display facts, editors often work together to compile an article that fairly represents current expert opinion on the subject. Aspiring authors may wish to read the information on Contributing to Wikipedia before contributing to the project.
            
            Although the Wikimedia Foundation owns the site, it is largely uninvolved in writing and daily operations.
            
            Trademarks and copyrights
            Main pages: Wikipedia:Copyrights and wmf:Trademark policy
            "Wikipedia" is a registered trademark of the not-for-profit Wikimedia Foundation, which has created a family of free-content projects that are built by user contributions.
            
            Most of Wikipedia's text and many of its images are dual-licensed under the Creative Commons Attribution-Sharealike 3.0 Unported License (CC-BY-SA) and the GNU Free Documentation License (GFDL) (unversioned, with no invariant sections, front-cover texts, or back-cover texts). Some text has been imported only under CC-BY-SA and CC-BY-SA-compatible license and cannot be reused under GFDL; such text is identified either on the page footer, in the page history or on the discussion page of the article that utilizes the text. Every image has a description page that indicates the license under which it is released or, if it is non-free, the rationale under which it is used.
            
            Contributions remain the property of their creators, while the CC-BY-SA and GFDL licenses ensure the content is freely distributable and reproducible. (See content disclaimer for more information.)
            
            Credits
            Text on Wikipedia is a collaborative work, and the efforts of individual contributors to a page are recorded in that page's history, which is publicly viewable. Information on the authorship of images and other media, such as sound files, can be found by clicking on the image itself or the nearby information icon to display the file page, which includes the author and source, where appropriate, along with other information.
        </p>
    
