<section></section>
    <table class = "tableDecorate">
        <tr>
           <th>Roll No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Date</th>
            <th>IsMale</th>
            <th>Id</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr ng-repeat = "student in displayStudents">
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>{{student.date}}</td>
            <td>{{student.isMale}}</td>
            <td>{{student.id}}</td>
            <td><a ng-href="#!update/{{student.id}}">Update</a></td>
            <td><a ng-href="#!delete/{{student.id}}">Update</a></td>
        </tr>
    </table>
</section>