<div [style.height] = "'100%'" [style.width] = "'100%'" [style.border-style] = "'solid'" [style.text-align] = "'center'" [style.color] = "'green'">
    <h1 [style.fontSize.px]="'40'">PRICE CALCULATOR</h1>
    PRICE : <input [(ngModel)] = "price"><br><br>
    DISCOUNT RATE : <input [(ngModel)] = "rate"><br><br>
    <button (click) = "priceCalculate()">CALCULATE COST</button><br><br>
    <!--COST : {{cost}}-->
</div>
<div [style.text-align] = "'center'">COST : </div>
<h2 [innerText] = "cost" [style.text-align] = "'center'"></h2>
<div [style.text-align] = "'center'">DISCOUNT AMOUNT : </div>
<h2 [innerText] = "dicscountAmount" [style.text-align] = "'center'"></h2>
