<h1>ADD EMPLOYEE FORM</h1>

<form class="form-horizontal" ngNativeValidate [formGroup]="addForm">

    <div class="form-group">
        <label class="control-label col-sm-2" for="IdId">Id</label>
        <div class="col-sm-6">  
            <div class="input-group prefix">                           
                <span class="input-group-addon">SW-</span>
                <input type="text" class="form-control" id="IdId" formControlName="id" required>
            </div>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "id.invalid && (id.dirty || id.touched)" [class] = "'required'">Id name is required</span>
        </div>
    </div>

    <fieldset formGroupName="name">
        <div class="form-group">
            <label class="control-label col-sm-2" for="fisrtNameId" >First Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="fisrtNameId" formControlName="firstName" required>
            </div>
            <div class="col-sm-4">
                <span *ngIf = "firstName.invalid && (firstName.dirty || firstName.touched)" [class] = "'required'">First name is required</span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastNameId" >Last Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastNameId" formControlName="lastName" required>
            </div>
            <div class="col-sm-4">
                <span *ngIf = "lastName.invalid && (lastName.dirty || lastName.touched)" [class] = "'required'">Last name is required</span>
            </div>
        </div>
    </fieldset>
    
    <div class="form-group">
        <label class="control-label col-sm-2" for="dobId" >Date of birth</label>
        <div class="col-sm-6">
            <input type="date" class="form-control" id="dobId" formControlName="dob" (change) = "dobChange()" required>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "dob.invalid && (dob.dirty || dob.touched)" [class] = "'required'">Date of birth is required</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="ageId" >Age</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="ageId" formControlName="age" [(ngModel)] = "ageNgModel" required>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "age.invalid && (age.dirty || age.touched)" [class] = "'required'">Age is required</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="designationId">Designation</label>
        <div class="col-sm-6">
            <select formControlName="designation" class="form-control" id="designationId" (change) = "designationChange()" required>
                <option value="">Please select a designation</option>
                <option *ngFor="let desig of designationList" [value]="desig">{{desig}}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "designation.invalid && (designation.dirty || designation.touched)" [class] = "'required'">Designation is required</span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="emailId" >Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="emailId" formControlName="email" required>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "email.invalid && (email.dirty || email.touched)" [class] = "'required'">
                <span *ngIf="email.errors.required">Email is required</span>
                <span *ngIf="email.errors.pattern">The email address must contain at least the @ character</span>
            </span>
        </div>
    </div>

    <div class="form-group">
        <fieldset>
            <label class="control-label col-sm-2">Gender</label>
            <div class="col-sm-1" [style.margin-top] = "'5px'">
                <span >
                    <label>Male</label>
                    <input type="radio" name="gender" value = "male" formControlName="gender" required>
                </span>
            </div>
            <div class="col-sm-5" [style.margin-top] = "'5px'">
                <span>
                    <label>Female</label>
                    <input type="radio" name="gender" value = "female" formControlName="gender" required>
                </span>
            </div>
            <div class="col-sm-4">
                <span *ngIf = "gender.invalid && (gender.dirty || gender.touched)" [class] = "'required'">Gender is required</span>
            </div>
        </fieldset>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" for="salaryId" >Salary</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="salaryId" formControlName="salary" [(ngModel)] = "salaryNgModel" required>
        </div>
        <div class="col-sm-4">
            <span *ngIf = "salary.invalid && salary.dirty" [class] = "'required'">Salary is required</span>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="!addForm.valid" id = "submitButtonId" class="btn btn-primary" type="submit" (click) = "validate()">SUBMIT</button>
    </div>
    
  </form>

