<div>
    <h1>STUDENTS</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ROLLNO</th>
                <th>NAME</th>
                <th>AGE</th>
                <th>EMAIL</th>
                <th>ISMALE</th>
                <th>DATE</th>
            </tr>
        </thead>
        <tr *ngFor = "let student of students">
            <td>{{student.id}}</td>
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>{{student.isMale}}</td>
            <td>{{student.date}}</td>            
        </tr>
    </table>
</div>

