<!--RollNo : <input [(ngModel)]="student.rollNo"><br>
Fisrt name : <input [(ngModel)]="student.name"><br>
CGPA : <input [(ngModel)]="student.cgpa"><br>

<p>RolNo : {{student.rollNo}}</p>
<p>Name : {{student.name}}</p>
<p>CGPA : {{student.cgpa}}</p>
-->

<!--FIRST NAME : <input type="text" [(ngModel)] = "firstName">
<h1 [innerText] = "firstName"></h1>

LAST NAME : <input type="text" [ngModel]="lastName" (ngModelChange) = nameChange($event)>
<h1 [innerText] = "lastName"></h1>
-->
<h1>{{fullName}}</h1>
