<!--<student-list></student-list>-->
<!--<student-add></student-add>-->
<!--<student-get></student-get>-->
<!--<student-update></student-update>-->
<!--<student-delete></student-delete>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink = "/students-list" [style.color] = "'white'">StudentApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink = "/students-list" [style.color] = "'white'">STUDENTS-LIST</a></li>
        <li><a routerLink = "/add-student" [style.color] = "'white'">ADD-STUDENT</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>