<!--<student-list></student-list>-->
<!--<student-add></student-add>-->
<!--<student-get></student-get>-->
<!--<student-update></student-update>-->
<!--<student-delete></student-delete>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink = "/students-list">StudnetApp</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink = "/students-list">STUDENTS-LIST</a></li>
        <li> <a routerLink = "/add-student">ADD-STUDENT</a></li>
        <li> <a routerLink = "/update-student/7fd55bee-1364-4c90-bc75-410eebbbd2c5">update-STUDENT</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>