<div>
    <h1>Students</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>ROLLNO</th>
                <th>NAME</th>
                <th>DATE</th>
                <th>AGE</th>
                <th>EMAIL</th>
                <th>GENDER</th>
                <th>UPDATE</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tr *ngFor = "let student of students">
            <td>{{student.id}}</td>
            <td>{{student.rollNo}}</td>
            <td>{{student.name}}</td>
            <td>{{student.date}}</td>
            <td>{{student.age}}</td>
            <td>{{student.email}}</td>
            <td>
                <span *ngIf = "student.isMale;else no">Male</span>
                <ng-template #no>
                    <span>Female</span>
                </ng-template>
            </td>
            <td><button (click) = "updateStudent(student.id)">UPDATE</button></td>
            <td><button (click) = "deleteStudent(student.id)">DELETE</button></td>
        </tr>
    </table>
</div>