<div [class] = "'background-cover'">
    <h1 class="display-1">Maths Quiz</h1>
    <button (click) = "startQuiz()" [style.display] = "startButtonShow" class="btn btn-primary">START</button>
    <button (click) = "exitQuiz()" [style.display] = "exitButtonShow" class="btn btn-primary">EXIT</button>

    <div [style.display] = "questionDivShow">
        <h2 [innerText] = "questionText"></h2>
        <br>
        <span *ngFor="let option of options; let i = index" [class] = "'radioAndLabel'">
            <input type="radio" name="optionsRadio" id="option" [value]="i" [(ngModel)]="chosenOption" [class] = "'radioStyle'">
            <label for="option">
                <span [innerText] = "option" [style.font-size] = "'2em'"></span>
            </label>
        </span>
        <br>
        <button (click) = "previousQuestion()" [style.display] = "previousButtonShow" class="btn btn-primary">PREVIOUS</button>
        <button (click) = "nextQuestion()" [innerText] = "nextButtonText" class="btn btn-primary"></button>
        <h2>Unanswered : {{unanswered}}/10</h2>

        <table class="table">
            <tr>
                <th *ngFor = "let question of questions">{{question.id}}</th>
            </tr>
            <tr>
                <td *ngFor = "let question of questions">
                    <span [class] = "'answered'" *ngIf = "question.answered;else no">Answered</span>
                    <ng-template #no>
                        <span [class] = "'notanswered'">Not answered</span>
                    </ng-template>
                </td>
            </tr>

        </table>
    </div>
    
    <div [style.display] = "resultDiv" > 
        
        <div>
            <h3>Your score : {{finalScore/10*100}}%</h3>
            <div>
                <h3 *ngIf="finalScore>5; else elseBlock">You passed..Congratulations!!!</h3>
                <ng-template #elseBlock><h3>You failed...take the quiz again</h3></ng-template>
            </div>
            <h3><span [style.margin-left] = "'40px'">Right : {{finalScore}}/10</span>
            <span [style.margin-left] = "'40px'">Wrong : {{10-finalScore-unanswered}}/10</span>
            <span [style.margin-left] = "'40px'">Unanswered : {{unanswered}}/10</span>
            </h3>
        </div>

        <div [class] = "'piechart'">
            <canvas 
                baseChart
                [chartType]="'pie'"
                [datasets]="pieChartData"
                [labels]="pieChartLabels"
                [options]="pieChartOptions"
                [legend]="true"
                [colors]="pieChartColor">
            </canvas>
          </div>
    
    </div>
</div>

