<!--<two-way-binding></two-way-binding>-->
<!--<sw-welcome class="appClass"></sw-welcome>-->
<!--<load-students></load-students>-->
<!--<price-calculator></price-calculator>-->
<!--<dicsount-calculator></dicsount-calculator>-->
<!--<snake-case></snake-case>-->
<!--<app-product-temp-var></app-product-temp-var>-->
<!--<app-product-ngmodel></app-product-ngmodel>-->
<!--<app-blueball></app-blueball>-->
<!--<app-parent></app-parent>-->
<!--<app-master></app-master>-->
<!--<app-login-template></app-login-template>-->
<!--<app-login-model></app-login-model>-->
<!--<register-model></register-model>-->
<!--<question-bank></question-bank>-->
<!--<http-number></http-number>-->
<!--<http-country></http-country>-->
<!--<get-students></get-students>-->

<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink = "/app-home" [style.color] = "'black'">App</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink = "/app-home" [style.color] = "'black'">HOME</a></li>
        <li><a routerLink = "/app-about" [style.color] = "'black'">ABOUT</a></li>
        <li><a routerLink = "/app-career" [style.color] = "'black'">CAREER</a></li>
      </ul>
    </div>
  </nav>
<router-outlet></router-outlet>-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink = "/get-students" [style.color] = "'black'">StudentAPIApp</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink = "/get-students" [style.color] = "'black'">Students List</a></li>
      <li><a routerLink = "/add-student" [style.color] = "'black'">Add student</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>




