<!--<two-way-binding></two-way-binding>-->
<!--<sw-welcome class="appClass"></sw-welcome>-->
<!--<load-students></load-students>-->
<!--<price-calculator></price-calculator>-->
<!--<dicsount-calculator></dicsount-calculator>-->
<!--<snake-case></snake-case>-->
<!--<app-product-temp-var></app-product-temp-var>-->
<!--<app-product-ngmodel></app-product-ngmodel>-->
<!--<app-blueball></app-blueball>-->
<!--<app-parent></app-parent>-->
<!--<app-master></app-master>-->
<!--<app-login-template></app-login-template>-->
<!--<app-login-model></app-login-model>-->
<!--<register-model></register-model>-->
<question-bank></question-bank>
<!--<http-number></http-number>-->
<!--<http-country></http-country>-->
<!--<get-students></get-students>-->







