h1{
    font-size: 100px;
    text-align: center;
    color: purple;
}

button{
    width: 100px;
    height: 100px;
    color: plum;
    background-color:purple;
}

#buttonWrap{
    text-align: center;
}

p{
    font-size: 40px;
    color: purple;

}
input[type=radio] {
    width: 20px;
    height: 20px;
}
label{
    font-size: 30px;
    text-align: center;
    color: purple;

}